<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Home Page</title>
</head>
<body>
    <h1>Dashboard</h1> <br />
        <a href="{% url 'pages:home' %}"> Home </a>|
        <a href="{% url 'dashboard:home' %}"> Dashboard </a>|
        <a href="{% url 'dashboard:change_password' %}">Change Password</a>|
        <a href="/profile"> Profile </a> |
        <a href="{% url 'dashboard:logout' %}"> Logout </a>|       
    </ul>
    {% block body %}
    {% endblock %}
</body>
</html>